#floatingIcon {
    position: fixed;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 50%;
    z-index: 10000;
    font-size: 24px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  #annotationMenu {
    position: fixed;
    left: 50px;
    top: 50%;
    transform: translateY(-50%);
    width: 300px;
    height: auto;
    max-height: 80vh;
    padding: 20px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 9999;
    display: none;
    overflow-y: auto;
  }
  
  #annotationMenu h3 {
    margin-top: 0;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }
  
  #annotationMenu h4 {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
  }
  
  #annotationMenu button {
    display: block;
    width: 100%;
    padding: 10px 15px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  #annotationMenu button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
  }
  
  #annotationMenu button:active {
    background-color: #004085;
    transform: translateY(0);
  }
  
  .note-item {
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .delete-note-btn {
    background-color: transparent;
    color: #dc3545;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 0;
    margin-left: 10px;
  }
  
  .highlighted {
    background-color: yellow;
  }
  